<div class="d-flex flex-row bd-highlight mb-3">
    <span>{{panelTitle}}</span>
    <div class="form-froup row" style="width: 60%;">
    
        <label class="col-sm-2 col-form-label">Item Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="items.itemName">
            
        </div>
        <label class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="items.price">
            
        </div>
    
        <label class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="items.quantity">
            
        </div>

        <label class="col-sm-2 col-form-label">Weight in Grams</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="items.weightInGrams">
           
        </div>

       <!---- <label class="col-sm-2 col-form-label">IsVeg</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="isVeg"
            placeholder="Enter IsVeg or not">
        </div>
        <label class="col-sm-2 col-form-label">isSpecial</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="isSpecial"
            placeholder="Enter isSpecial or not">
        </div>
        <label class="col-sm-2 col-form-label">Kcal</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="kcal"
            placeholder="Enter Kcal">
        </div>
        <label class="col-sm-2 col-form-label">Available date</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="availableDate"
            placeholder="Enter Available date">
        </div>-->
    
</div>
    
    
   <!---- <button (click)="postItem(item)"ervice.  class="btn btn-primary">
        Add
    </button>
    <button (click)="apiService.putItem(Item)"  class="btn btn-primary">
        Update
    </button>-->
